/* Rectangle 1 */
.Rectangle-Background {
  position: absolute;
  width: 1270px;
  height: 535px;
  background: linear-gradient(
    105.85deg,
    rgba(205, 102, 136, 0.37) 0%,
    rgba(189, 118, 156, 0.822161) 17.78%,
    #75c2f6 100%
  );
}

/* Level up Your Skill */
.First-text {
  position: absolute;
  width: 368px;
  height: 50px;
  left: 70px;
  top: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  color: #ffffff;
}

.Second-text {
  /* Play Online Quiz And Upgrade Yourself */
  position: absolute;
  width: 600px;
  height: 244px;
  left: 25px;
  top: 90px;
  font-family: 'Kaushan Script', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  background-size: cover;
}

/* img4 1 */
.home-image {
  /* img4 1 */
  position: absolute;
  width: 400px;
  height: 250px;
  top: 230px;
  left: 300px;
  background: url('C:\Users\susingha\OneDrive - Capgemini\Desktop\github\Quiz\EasyQuizzy\eqfrontend\src\Components\MainNav\downimg.png');
}
